extends layout
block content
    a(class='button' href='/') Home
    ul
      li Name: #{user_data.fullname}
      li Email:  #{user_data.email} 
      li Introduction: #{user_data.introduction} 
      li Phone:  #{user_data.phone} 
      li Experience: #{user_data.experience} 
      li Achievements:  #{user_data.achievements} 
        